@{
    Layout = "";
}
@model Nop.Plugin.Payments.EPay.Models.PaymentInfoModel
@using Nop.Web.Framework;

<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td>
            <b>@T("Plugin.Payments.EPay")</b>
        </td>
    </tr>
</table>

